.marketPage-background {
    background-color: #243a69;
    background-image: url('/images/background.png'); // caminho relativo da sua imagem de textura
    background-repeat: no-repeat;
    background-size: cover; // ou 'contain' dependendo do efeito desejado
    background-blend-mode: overlay; // Isso fará a textura misturar com a cor de fundo
}