.button {
    &.button-spacing {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    &.button-size {
        width: 5rem;
        height: 5rem;
    }

    &.border {
        border-color: black !important;
        border-radius: 50px;
    }
}