// /* tableMarket.scss */
// .market-page {
//     background-color: rgb(36, 58, 105);
//     padding: 20px;
//     /* Adiciona padding para melhor visualização */
//     min-height: 100vh;
//     /* Garante que a altura mínima cubra a tela */
// }

.table_spacing {
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 30px;
}

.table_spacing th,
.table_spacing td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Defina a largura desejada para a coluna "Quantidade de Cartas" */
.table_spacing .quantity-column {
    width: 200px;
    /* Por exemplo, ajuste conforme necessário */
}

.table_spacing th:not(:last-child),
.table_spacing td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.table_spacing th:first-child,
.table_spacing td:first-child {
    border-left: 1px solid #ddd;
}