.quick-sell-format {
    border-color: black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial';
}

@media (min-width: 320px) and (max-width: 374px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 4.5rem;
        height: 1.5rem;
        font-size: 5.5px;
        border-width: 2px;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}

@media (min-width: 2560px) {
    .quickSellButtonFormat {
        margin-bottom: 10px;
        width: 8rem;
        height: 1.5rem;
        font-size: 12px;
        border-width: 2px;
    }
}